[submodule "solvers/satch"]
	path = solvers/satch
	url = https://github.com/KaindlJulian/satch.git #https://github.com/arminbiere/satch.git
	branch = event_logger_hooks
[submodule "solvers/minisat"]
	path = solvers/minisat
	url = https://github.com/KaindlJulian/minisat #https://github.com/stp/minisat.git
	branch = event_logger_hooks
[submodule "solvers/cadical"]
	path = solvers/cadical
	url = https://github.com/KaindlJulian/cadical.git #https://github.com/arminbiere/cadical.git
	branch = event_logger_hooks
[submodule "solvers/satotz"]
	path = solvers/satotz
	url = https://github.com/KaindlJulian/satotz.git
	branch = event_logger_hooks